<div class="bc">


    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <h2 class="text-center">Registration Form</h2>
                    <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm.value)">
                        <!-- User Name -->
                        <div class="mb-3">
                            <label for="userName" class="form-label">User Name</label>
                            <input type="text" class="form-control" name="userName" id="userName"
                                aria-describedby="userNameHelp" [(ngModel)]="details.userName" #firstname="ngModel"
                                required minlength="5">
                            <div style="color:red" *ngIf="!firstname?.valid && (firstname?.dirty ||firstname?.touched)"
                                class="alert alert-danger">
                                <div [hidden]="!firstname.errors?.required">
                                    User Name is required
                                </div>
                                <div [hidden]="!firstname.errors?.minlength">
                                    user Name Minimum Length is {{firstname.errors?.minlength.requiredLength}}
                                </div>
                            </div>
                            <div id="userNameHelp" class="form-text">user name should be unique</div>
                        </div>

                        <!-- Email -->
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" name="email" id="exampleInputEmail1"
                                aria-describedby="emailHelp" [(ngModel)]="details.email" #email="ngModel" required>
                            <div style="color:red" *ngIf="!email?.valid && (email?.dirty ||email?.touched)"
                                class="alert alert-danger">
                                <div [hidden]="!email.errors?.required">
                                    email is required
                                </div>
                            </div>
                        </div>
                        <!-- passwod -->
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                                [(ngModel)]="details.password" #password="ngModel" required>
                            <div style="color:red" *ngIf="!password?.valid && (password?.dirty ||password?.touched)"
                                class="alert alert-danger">
                                <div [hidden]="!password.errors?.required">
                                    password is required
                                </div>
                            </div>
                        </div>

                        <!-- contact -->
                        <div class="mb-3">
                            <label for="contact" class="form-label">contact</label>
                            <input type="text" class="form-control" name="contact" id="contact"
                                aria-describedby="contactHelp" [(ngModel)]="details.contact" #contact="ngModel" required
                                pattern="[0-9]{10}">

                            <div style="color:red" *ngIf="!contact?.valid && (contact?.dirty ||contact?.touched)">
                                <div [hidden]="!contact.errors">
                                    Enter a valid contact as : 10 digits only
                                </div>
                            </div>
                        </div>
                        <!-- city -->
                        <div class="mb-3">
                            <label for="city" class="form-label">city</label>
                            <input type="text" class="form-control" name="city" id="city" aria-describedby="cityHelp"
                                [(ngModel)]="details.city">
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary ">Submit</button>
                            <button type="reset" class="btn btn-primary  my-1">Reset</button>
                        </div>
                    </form>

                </mat-card>


            </div>
        </div>
    </div>
</div>